@keyframes blink-warning {
    70% {
        color: @text;
    }

    to {
        color: @text;
        background-color: @gold;
    }
}

@keyframes blink-critical {
    70% {
      color: @text;
    }

    to {
        color: @text;
        background-color: @love;
    }
}


/* -----------------------------------------------------------------------------
 * Styles
 * -------------------------------------------------------------------------- */

/* COLORS */
/*
* Variant: Rosé Pine
* Maintainer: DankChoir
*/

@define-color base            #191724;
@define-color surface         #1f1d2e;
@define-color overlay         #26233a;

@define-color muted           #6e6a86;
@define-color subtle          #908caa;
@define-color text            #e0def4;

@define-color love            #eb6f92;
@define-color gold            #f6c177;
@define-color rose            #ebbcba;
@define-color pine            #31748f;
@define-color foam            #9ccfd8;
@define-color iris            #c4a7e7;

@define-color highlightLow    #21202e;
@define-color highlightMed    #403d52;
@define-color highlightHigh   #524f67;

/* Reset all styles */
* {
    border: none;
    opacity: 1;
    border-radius: 4px;
    min-height: 0;
    padding: 0px;
    margin: 2px 2px;
    font-family: "IosevkaTerm NF";
    font-size:16px; 
    font-weight: bold;
}

/* The whole bar */
#waybar {
    border: 1px solid @muted;
    border-radius: 4px;
    background-color: @base;
    color: @text;
}

/* Each module */
#battery,
#bluetooth,
#clock,
#cpu,
#custom-layout,
#memory,
#mode,
#network,
#pulseaudio,
#temperature,
#custom-alsa,
#custom-pacman,
#custom-weather,
#tray,
#submap,
#backlight,
#language,
#custom-swaync {
    margin: 4px 4px;
    padding: 4px 16px;
}

/* Each module that should blink */
#mode,
#memory,
#temperature,
#battery {
    margin: 4px 4px;
    padding: 4px 16px;
    /* animation-timing-function: linear; */
    /* animation-iteration-count: infinite; */
    /* animation-direction: alternate; */
}

/* Each critical module */
#memory.critical,
#cpu.critical,
#temperature.critical,
#battery.critical {
    background-color: @love;
    color: @surface;
    padding: 4px 16px;
    margin: 4px 4px;
}

/* Each critical that should blink */
#mode,
#memory.critical,
#temperature.critical,
#battery.critical.discharging {
    animation: none;
    /* animation-name: blink-critical; */
    /* animation-duration: 1s; */
    padding: 4px 16px;
    margin: 4px 4px;
}

/* Each warning */
#network.disconnected,
#memory.warning,
#cpu.warning,
#temperature.warning,
#battery.warning {
    background: @gold;
    color: @surface;
    padding: 4px 16px;
    margin: 4px 4px;
}

/* Each warning that should blink */
#battery.warning.discharging {
    animation: none;
    /* animation-name: blink-warning; */
    /* animation-duration: 3s; */
    padding: 4px 16px;
    margin: 4px 4px;
}

/* And now modules themselves in their respective order */

#submap { /* Shown current Hyprland submap (resize etc.) */
    font-weight: bold;
    color: @text;
    background: @love;
}

/* Workspaces stuff */

#workspaces {
    margin: 4px 4px;
    color: @text;
    /* margin-right: 10px; */
    background-color: @surface;
}

#workspaces button {
    font-weight: bold; /* Somewhy the bar-wide setting is ignored*/
    padding: 2px 8px;
    margin: 4px 4px;
    /*color: #999;*/
    background: @surface;
    font-size:16px; 
}
#workspaces button.active {
    padding: 2px 8px;
    margin: 4px 4px;
    background: @foam;
    color: @surface;
    opacity: 1;
}

#workspaces button.urgent {
    /* border-color: color: @; */
    background: @gold;
    color: @surface;
    opacity: 1;
}

#window {
    margin-right: 40px;
    margin-left: 40px;
    background: @surface;
    font-size:16px; 
} 
window#waybar.empty #window {
    margin-right: 40px;
    margin-left: 40px;
    background: @none;
    font-size:16px; 
}
#bluetooth {
    background: @surface;
    font-size:16px; 
    font-weight: bold;
}
#custom-weather {
    background: @surface;
    font-weight: bold;
} 
#custom-swaync {
    background: @surface;
    font-weight: bold;
}
#custom-pacman {
    background: @surface;
    color: @nord_dark_font;
    font-weight: bold;
}
#custom-scratchpad-indicator {
    background: @surface;
    color: @nord_dark_font;
    font-weight: bold;
}
#idle_inhibitor {
    background: @surface;
    /*font-size: 16px;*/
    font-weight: bold;
}
#custom-alsa {
    background: @surface;
}

#network { 
    background: @surface;
}

#memory {
    background: @surface;
}

#cpu { 
    background: @surface;
    color: @text;
}
#cpu.critical {
    color: @love;
}
#language {
    background: @surface;
    color: @text;
}
#temperature {
    background-color: @surface;
    color: @text;
}
#temperature.critical {
    background:  @love;
    color: @text;

}
#custom-layout {
    background: @surface;
}

#battery {
    background: @surface;
}

#backlight {
    background: @surface;
}

#clock {
    background: @surface;
    color: @text;
}
#clock.date {
    background: @surface;
}

#clock.time {
    background: @surface;
}

#pulseaudio { /* Unsused but kept for those who needs it */
    background: @surface;
    color: @text;
}

#pulseaudio.muted {
    background: @love;
    color: @text;
    /* No styles */
}
#pulseaudio.source-muted {
    background: @gold;
    color: @surface;
    /* No styles */
}
#tray {
    background: @surface;
}
