@keyframes blink-warning {
    70% {
        color: @text;
    }

    to {
        color: @text;
        background-color: @gold;
    }
}

@keyframes blink-critical {
    70% {
      color: @text;
    }

    to {
        color: @text;
        background-color: @love;
    }
}


/* -----------------------------------------------------------------------------
 * Styles
 * -------------------------------------------------------------------------- */

/* COLORS */
/*
* Variant: Rosé Pine
* Maintainer: DankChoir
*/

@define-color base            #191724;
@define-color surface         #1f1d2e;
@define-color overlay         #26233a;

@define-color muted           #6e6a86;
@define-color subtle          #908caa;
@define-color text            #e0def4;

@define-color love            #eb6f92;
@define-color gold            #f6c177;
@define-color rose            #ebbcba;
@define-color pine            #31748f;
@define-color foam            #9ccfd8;
@define-color iris            #c4a7e7;

@define-color highlightLow    #21202e;
@define-color highlightMed    #403d52;
@define-color highlightHigh   #524f67;

/* Reset all styles */
* {
    border: none;
    opacity: 1;
    border-radius: 4px;
    min-height: 0;
    margin: 0.2em 0.3em 0.2em 0.3em;
}

/* The whole bar */
#waybar {
    border: 1px solid @muted;
    border-radius: 4px;
    background-color: @base;
    color: @text;
    font-family: "Iosevka NF", "Font Awesome 6";
    font-size: 16px;
    /* font-weight: bold; */
    
}

/* Each module */
#battery,
#clock,
#cpu,
#custom-layout,
#memory,
#mode,
#network,
#pulseaudio,
#temperature,
#custom-alsa,
#custom-pacman,
#custom-weather,
#tray,
#backlight,
#language {
    padding-left: 0.6em;
    padding-right: 0.6em;
}

/* Each module that should blink */
#mode,
#memory,
#temperature,
#battery {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

/* Each critical module */
#memory.critical,
#cpu.critical,
#temperature.critical,
#battery.critical {
    color: @love;
}

/* Each critical that should blink */
#mode,
#memory.critical,
#temperature.critical,
#battery.critical.discharging {
    animation-name: blink-critical;
    animation-duration: 2s;
}

/* Each warning */
#network.disconnected,
#memory.warning,
#cpu.warning,
#temperature.warning,
#battery.warning {
    background: @gold;
    color: @text
}

/* Each warning that should blink */
#battery.warning.discharging {
    animation-name: blink-warning;
    animation-duration: 3s;
}

/* And now modules themselves in their respective order */

#submap { /* Shown current Sway mode (resize etc.) */
    color: @text;
    background: @love;
}

/* Workspaces stuff */

#workspaces {
    color: @text;
    /* margin-right: 10px; */
    background-color: @surface;
}

#workspaces button {
    font-weight: bold; /* Somewhy the bar-wide setting is ignored*/
    padding: 0 0.6em;
    /*color: #999;*/
    background: @surface;
    font-size: 1em;
}

#workspaces button.focused {
    background: @foam;
    color: @text;
    opacity: 1;
}

#workspaces button.urgent {
    /* border-color: color: @; */
    color: @gold;
    opacity: 1;
}

#window {
    margin-right: 40px;
    margin-left: 40px;
    background: @surface;
    padding: 0 0.6em;
    font-size: 1.2em;
}
window#waybar.empty #window {
    margin-right: 40px;
    margin-left: 40px;
    background: @none;
    padding: 0 0.6em;
    font-size: 1.2em;
}
#bluetooth {
    background: @surface;
    font-size: 1.2em;
    font-weight: bold;
    padding: 0 0.6em;
}
#custom-weather {
    background: @surface;
    font-weight: bold;
    padding: 0 0.6em;
}
#custom-pacman {
    background: @surface;
    color: @nord_dark_font;
    font-weight: bold;
    padding: 0 0.6em;
}
#custom-scratchpad-indicator {
    background: @surface;
    color: @nord_dark_font;
    font-weight: bold;
    padding: 0 0.6em;
}
#idle_inhibitor {
    background: @surface;
    /*font-size: 1.6em;*/
    font-weight: bold;
    padding: 0 0.6em;
}
#custom-alsa {
    background: @surface;
}

#network {
    background: @surface;
}

#memory {
    background: @surface;
}

#cpu {
    background: @surface;
    color: @text;
}
#cpu.critical {
    color: @love;
}
#language {
    background: @surface;
    color: @text;
    padding: 0 0.4em;
}
#temperature {
    background-color: @surface;
    color: @text;
}
#temperature.critical {
    background:  @rose;
}
#custom-layout {
    background: @surface;
}

#battery {
    background: @surface;
}

#backlight {
    background: @surface;
}

#clock {
    background: @surface;
    color: @text;
}
#clock.date {
    background: @surface;
}

#clock.time {
    background: @surface;
}

#pulseaudio { /* Unsused but kept for those who needs it */
    background: @surface;
    color: @text;
}

#pulseaudio.muted {
    background: @love;
    color: @love;
    /* No styles */
}
#pulseaudio.source-muted {
    background: @rose;
    color: @text;
    /* No styles */
}
#tray {
    background: @surface;
}
